[submodule "repos/Windows_Microsoft_Terminal"]
	path = repos/Windows_Microsoft_Terminal
	url = https://github.com/brettjrea/Windows_Microsoft_Terminal.git
[submodule "repos/Windows_WSL_Debian"]
	path = repos/Windows_WSL_Debian
	url = https://github.com/brettjrea/Windows_WSL_Debian.git
[submodule "repos/Windows_WSL_Debian_Jekyll"]
	path = repos/Windows_WSL_Debian_Jekyll
	url = https://github.com/brettjrea/Windows_WSL_Debian_Jekyll.git
