<nav id="theSidenav" class="sidenav effect" style="width: 0vw;">
  <ul>
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
    {% if p.navigation_weight %}
    <li>
      <a href="{{ p.url }}" {% if p.url == page.url %}class="active" {% endif %}>
        {{ p.title }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <span class="dropdown-btn">Guides<i class="fa fa-caret-down"></i></span>
<div class="dropdown-container">
    <ul>
      {% assign repository_pages = site.html_pages | sort: 'repository_weight' %}
      {% for p in repository_pages %}
      {% if p.repository_weight %}
      <li>
        <a href="{{ p.url }}" {% if p.url == page.url %}class="active" {% endif %}>
          {{ p.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

{% include script-thesidenav-w.html %}
