<!doctype html>
<html class="preload-transitions" class data-theme="light" lang="en">

{% include script-detecttheme.html %}

<head>

  {% include content-head.html %}

</head>

<body>

  {% include part-thesidenav.html %}

  <section id="theContent" class="grid-container effect" style="margin-left: 0vw;">

    {% include script-thecontent-ml.html %}

    <div class="grid-item item1">
      <span onclick="toggleNav()" class="fas fa-bars fa-fw sidenav-toggle effect"></span>
    </div>

    <div class="grid-item item2">
      {% include part-themetoggle.html %}

      <div onmouseover="toggleNav()" class="grid-item item3 hoverpad">
      </div>

      <section class="grid-item item4">
        {{ content }}
      </section>

  </section>

  {% include part-socialtab.html %}

  <footer>
    {% include content-foot.html %}
  </footer>

</body>

</html>